body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
  color: #333;
  text-align: center;
  overflow: hidden; /* evita scroll mientras solo está la carátula */
}

.hidden {
  display: none;
}

/* Carátula */
#caratula {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("https://i.postimg.cc/3wwJyYJP/Story-instagram-dia-da-natureza-ousado-preto-1.png") no-repeat center center/cover;
}

#caratula img {
  width: 200px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

#caratula img:hover {
  transform: scale(1.1);
}
